.form-control {
	margin: 0.5rem 0;
}

.form-control label {
	font-weight: bold;
	display: block;
	margin-bottom: 0.5rem;
}

.form-control input {
	display: block;
	width: 100%;
	border: 1px solid #141313;
	font: inherit;
	line-height: 2rem;
	padding: 0 0.55rem;
	border-radius: 5px;
}

.form-control input:focus {
	outline: none;
	background: #efd1bf;
	border-color: #8b3500;
}

.form-control.invalid input {
	border-color: red;
	background-color: rgb(251, 218, 218);
}

.form-control.invalid label {
	color: red;
}
